*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container-contador{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(135deg,
  #899a,#155,#5541,#6632
  );
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  align-items:center;
  justify-content: center;
  text-align:center;
  background-size:400% 400%;
  background-repeat: no-repeat;
  animation-name: animation-container;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes animation-container {
  0%{
    background-size: 100% 140%;
  }

  50%{
    background-size:250% 125% ;
  }

  100%{
    background-size: 100% 205%;
  }
}

.title-contador{
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 1px 1px 1px #000;
}

.contador{
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
  text-shadow:1px 1px 1px #000;
}

.contador-btns>button{
  border:none;
  cursor: pointer;
  width: 5rem;
  height:3rem;
  text-align: center;
  color: #fff;
  background-color: rgb(38, 38, 47);
  border-radius: .4rem;
  border:solid 2px #fff;
  font-size:20px;
  transition: all .2s linear;
}

.contador-btns>button:hover{
  background-color: #fff;
  color: #000;
  border: solid 2px #000;
}